# Assignment 3 Functions

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            print(a)
        else:
            print(b)
    else:
        if a>b:
            print(a)
        else:
            print(b)

In [1]:
# Check
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            print(a)
        else:
            print(b)
    else:
        if a>b:
            print(a)
        else:
            print(b)
lesser_of_two_evens(2,4)

2

In [2]:
# Check
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            print(a)
        else:
            print(b)
    else:
        if a>b:
            print(a)
        else:
            print(b)
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [5]:
# Check
def animal_crackers(text):
    l1=text[0]
    for i in range(len(text)):
        if text[i]==' ':
            l2=text[i+1]
    if l1==l2:
        print('True')
    else:
        print('False')
            
    
animal_crackers('Levelheaded Llama')

False

In [6]:
# Check
def animal_crackers(text):
    l1=text[0]
    for i in range(len(text)):
        if text[i]==' ':
            l2=text[i+1]
    if l1==l2:
        print('True')
    else:
        print('False')
animal_crackers('Crazy Kangaroo')

False

**Question 4
Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively. For example, squares(2, 3) should return [4, 9]**

In [12]:
def squares(start, end):
    squarednums = [i**2 for i in range(start,end+1)]
    return squarednums# list comphrension here

In [13]:
print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [14]:
def makes_twenty(n1,n2):
    if n1+n2==20 or n1==20 or n2==20:
        print('True')
    else:
        print('False')

In [15]:
# Check

makes_twenty(20,10)

True

In [18]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [41]:
def old_macdonald(name):
    a=name.capitalize()
    print(a[:3]+a[3].upper()+a[4:])

In [44]:
# Check
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [57]:
def master_yoda(text):
    a=list(text.split())
    for i in range(len(a),0,-1):
        print(a[i-1],end=' ')

In [58]:
# Check
master_yoda('I am home')

home am I

In [59]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [62]:
def almost_there(n):
    val=abs(n-100) <= 10 or abs(n-200) <= 10
    print(val)

In [63]:
# Check
almost_there(104)

True

In [64]:
# Check
almost_there(150)

False

In [65]:
# Check
almost_there(209)

True

**The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?**

In [10]:
def highlight_word(sentence, word):
    return (sentence.replace(word,word.upper()))
        
print(highlight_word("Have a nice day", "nice"))
# Have a NICE day
print(highlight_word("Shhh, don't be so loud!", "loud"))
#Shhh, don't be so LOUD!
print(highlight_word("Automating with Python is fun", "fun"))
#Automating with Python is FUN

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

**Complete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one**

In [14]:
def car_listing(car_prices):
    for i in car_prices:
        print (i,':',car_prices[i])

car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000})

Kia Soul : 19000
Lamborghini Diablo : 55000
Ford Fiesta : 13000
Toyota Prius : 24000

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [69]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==3:
            if nums[i]==nums[i+1]:
                return True
    return False

In [73]:
# Check
print(has_33([1, 3, 3]))

True

In [71]:
# Check
print(has_33([1, 3, 1, 3]))

False

In [72]:
# Check
print(has_33([3, 1, 3]))

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [76]:
def paper_doll(text):
    a=''
    for i in text:
        a+=(i*3)
    print(a)

In [77]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [78]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [87]:
def blackjack(a,b,c):
    if a+b+c<=21:
        print(a+b+c)
    if a+b+c>=21:
        if a==11 or b==11 or c==11:
            print((a+b+c)-10)
        else:
            print('BUST')

In [88]:
# Check
blackjack(5,6,7)

18

In [89]:
# Check
blackjack(9,9,9)

BUST

In [90]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [99]:
def summer_69(arr):
    list1 = arr
    summ = int()
    for i in range(0, len(arr)):
        if 6 in list1:
            listOfRange = range(list1.index(6), list1.index(9) + 1)
            for index in listOfRange:
                arr[index] = 0
            if 6 != arr[i]:
                summ += arr[i]
            else:
                continue
        else:
            summ += arr[i]
    return summ

In [100]:
# Check
summer_69([1, 3, 5])

9

In [101]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [102]:
# Check
summer_69([2, 1, 6, 9, 11])

14

**Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. Each dictionary is a partial list, but Rory's list has more current information about the number of guests. Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary.**

In [105]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence
    guests2.update (guests1)
    return guests2

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))
# shuld give {'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [1]:
def spy_game(nums):
    for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False

In [107]:
# Check
def spy_game(nums):
    for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False
    
spy_game([1,2,4,0,0,7,5])

True

In [108]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [109]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [113]:
def count_primes(num):
    a=[]
    for n in range(2,num+1):
        prime=True
        for i in range(2,n):
            if(n%i == 0):
                prime=False
        if prime:
            a.append(n)
    print(len(a))

In [114]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [115]:
def print_big(letter):
    d={'a': '  *  \n * * \n*****\n*   *\n*   *', 
    'b': '**** \n*   *\n*****\n*   *\n**** ',
    'c': ' ****\n*    \n*    \n*    \n ****',
    'd': '**** \n*   *\n*   *\n*   *\n**** ',
    'e': '*****\n*    \n*****\n*    \n*****'}
    lst = list(letter)
    for i in lst:
        print(d[i], end = "")

In [120]:
print_big('a')

  *
 * *
*****
*   *
*   *

**The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.**

In [142]:
def format_address(address_string):
  # Declare variables
    a=list(address_string.split())
    b=''
    for i in range(1,len(a)):
        b+=a[i]+' '
    word='house number '+a[0]+' on street named'+b
    for i in word:
        print(i,end=' ')

In [149]:
format_address("123 Main Street")
# Should print: "house number 123 on street named Main Street"

house number 123 on street named  Main Street

In [150]:
format_address("1001 1st Ave")
# Should print: "house number 1001 on street named 1st Ave"

house number 1001 on street named  1st Ave

In [151]:
format_address("55 North Center Drive")
# Should print "house number 55 on street named North Center Drive"

house number 55 on street named  North Center Drive

## Done All?
## Great Job!